################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebJob/bin/Debug
/WebJob/obj/Debug
/WebJob/Properties
